img {
    -webkit-user-drag: auto;
    }

.target-drop{
    border:1px solid black;
    width:200px;
    height:200px;
    position: relative;
}

.target-drop p{
    text-align: center;
    position: relative;
}

.target-drop p{
    position: absolute;
    color:black;
    font-size:40px;
    width:100%;
    line-height: 200px;
    text-align: center;
}

.target-drop img{
    opacity: 0.8;
}

.drop-zone{
    border:1px solid grey;
    background-color:rgba(0,0,0,0.1);
    width:200px;
    height:200px;
}

.mark-class{
    width:120px;
    height:120px;
    position: absolute;
    right: -130px;
    top: 50px;
    display:none;
}

.mark-class.answered{
    display:inline;
}


/* Submit button CSS */

.submit-btn {
    position: absolute;
    top: 2185px;
        left: 627px;
        -moz-box-shadow: 0px 10px 14px -7px #732727;
        -webkit-box-shadow: 0px 10px 14px -7px #732727;
        box-shadow: 0px 10px 14px -7px #732727;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e81c31), color-stop(1, #b31212));
        background:-moz-linear-gradient(top, #e81c31 5%, #b31212 100%);
        background:-webkit-linear-gradient(top, #e81c31 5%, #b31212 100%);
        background:-o-linear-gradient(top, #e81c31 5%, #b31212 100%);
        background:-ms-linear-gradient(top, #e81c31 5%, #b31212 100%);
        background:linear-gradient(to bottom, #e81c31 5%, #b31212 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81c31', endColorstr='#b31212',GradientType=0);
        background-color:#e81c31;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        border:1px solid #8f2929;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:33px;
        font-weight:bold;
        padding:12px 77px;
        text-decoration:none;
        text-shadow:0px 1px 0px #8a3d3d;
    }
    .submit-btn:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b31212), color-stop(1, #e81c31));
        background:-moz-linear-gradient(top, #b31212 5%, #e81c31 100%);
        background:-webkit-linear-gradient(top, #b31212 5%, #e81c31 100%);
        background:-o-linear-gradient(top, #b31212 5%, #e81c31 100%);
        background:-ms-linear-gradient(top, #b31212 5%, #e81c31 100%);
        background:linear-gradient(to bottom, #b31212 5%, #e81c31 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b31212', endColorstr='#e81c31',GradientType=0);
        background-color:#b31212;
    }
    .submit-btn:active {
      -moz-box-shadow:inset 0px 10px 14px -7px #732727;
        -webkit-box-shadow:inset 0px 10px 14px -7px #732727;
        box-shadow:inset 0px 10px 14px -7px #732727;
    
    }

/*============== Start Page Style=======================*/
body{
    font-size: 24px;
    padding-top: 190px;
    padding-left: 120px;
    font-family: Lato, sans-serif;
  }
  
  .page-number{
    position: absolute;
    top: 2283px;
    left: 798px;
    z-index: 1000;
    color: white;
    font-size: 50px;
  }
  
  .page-body{
    width:1415px;
  }
  
  .header-title{
    color: red;
      font-size: 43px;
      line-height: 50px;
      height: 62px;
  }

  .table-border{
    border:2px solid red;
    border-radius: 10px;
  }
  
  .table-header{
    font-size:36px
  }
  
  .table-header p{
    text-align: center;
  }

  .table-border .row{
    border-bottom: 2px solid red;
    
  }

  .table-border .row:last-child{
      border-bottom: none;
  }

  .row>div{
    padding:5px 0px;
  }

  .row>div:first-child{
      border-right:2px solid red;
  }
  
  .display-flex{
    display: flex;
    justify-content: center;
  }
  
  .flex-grow-1{
    flex-grow: 1;
  }

  .dragable-image{
      width:200px;
      height:200px;
  }