@charset "UTF-8";

/********************************/
/************* BODY *************/
/********************************/

@font-face {
  font-family: 'opendyslexic';
  src: url(Fonts/OpenDyslexic3-Regular.ttf);
  font-style: normal;
  font-weight: bold;
}
/********************************/
/************* BODY *************/
/********************************/

body{
font-size: 1.1em;
line-height: 1.3em;
margin-top: 1em;
margin-left: 1em;
margin-right: 1em;
font-family: "opendyslexic", "Roman", serif;
-moz-hyphens: none;
-ms-hyphens: none;
-webkit-hyphens: none;
hyphens: none;
}

/********************************/
/*********** ANCHORS ************/
/********************************/

a.hlink{
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/********************************/
/*********** HEADINGS ************/
/********************************/

h1.ch-title{
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-size: 1.5em;
padding:0.2em;
font-weight: bold;
color: #FF0000;
}


h1.fm-title{
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-size: 1.3em;
color: #FF0000;
}


h1.fm-title01{
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0em;
margin-right: 0em;
text-align: center;
line-height: 1.2em;
font-size: 1.3em;
color: #DF007A;
}


h1.cop-title{
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0em;
margin-right: 0em;
text-align: center;
line-height: 1.2em;
font-weight: bold;
font-size: 1.5em;
}

/********************************/
/********** DIV ELEMENTS ********/
/********************************/

div.chapter{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
}

div.titlepage{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
}

div.copyright{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:0.9em;
}


div.crt{
margin-top: 0.2em;
margin-bottom: 1.2em;
margin-left: 0em;
margin-right: 0em;
font-size:0.9em;
border-top: 5px solid #A4A7A9;
border-bottom: 1px solid;
}

div.figure{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
}

div.box{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
padding:6px;
border: 1px solid;
}

div.box01{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:10%;
margin-right:10%;
background:#DADADA;
padding:5px;
border: 1.5px solid;
}



div.box-dash{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
background:#DEDFE0;
padding:20px;
border: 2px dashed;
}


div.box-wb{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
padding:20px;
border: 1.5px solid;
}



div.ex_small {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
div.img_l {
  text-align: left;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
}
div.img_l img {
  max-width: 100%;
}


/********************************/
/************* IMAGES ***********/
/********************************/

img.title{
height: 100%;
}

img.line{
width: 100%;
}

/********************************/
/************ PARAGRAPHS ********/
/********************************/

p.titleimg{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}


p.coverimg{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}


p.indent{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
text-indent: 1.5em;
margin-right: 0em;
text-align:left;
}

p.nonindent{
margin-top: 0.3em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
}

p.extract{
margin-top: 1.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
}


p.crt{
margin-top: 1em;
margin-bottom: 0.3em;
margin-left: 0em;
margin-right: 0em;
text-align: center;
font-size:90%;
}


h1.toc-title{
margin-top: 3em;
margin-bottom: 1em;
margin-left: 0em;
text-indent: 0em;
margin-right: 0em;
text-align: left;
font-size: 1.6em;
}

p.toc{
margin-top: 1em;
margin-bottom: 0em;
margin-left: 0em;
text-indent: 0em;
margin-right: 0em;
text-align: left;
font-weight: normal;
}

p.centerimg{
margin-top: 0.2em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}


figure{
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}


p.center-img{
margin-top: 0.2em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}

p.line{
margin-top: 1.5em;
margin-bottom: -1em;
margin-left: 0em;
margin-right: 0em;
border-top: 1px solid;
}



p.line-dot{
margin-top: 1.5em;
margin-bottom: -1em;
margin-left: 0em;
margin-right: 0em;
border-bottom: 1.5px dotted;
}


p.lineimg{
margin-top: 2.5em;
margin-bottom: 4em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}

p.pagebreak{
  page-break-after: always;
}

span.normal{
font-weight:normal;
color: black;
}



/********************************/
/************ TABLES ************/
/********************************/

table.title{
margin-top: 0.2em;
margin-bottom: 0.2em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
border-collapse: collapse;
}

table.title td{
padding: 0.5em;
text-indent: 0em;
text-align:left;
vertical-align: top;
}

td.ch-lbl{
margin-top: 2em;
margin-bottom: 2em;
margin-left: 0.5em;
margin-right: 0.5em;
background: #BCE364;
color: #292425;
font-size: 1.9em;
line-height: 1.2em;
text-align: left!important;
font-weight:bold;
width:20%;
border: 1px solid #FE002E;
border-collapse: collapse;
}

td.ch-tit{
margin-top: 2em;
margin-bottom: 2em;
margin-left: 0.5em;
margin-right: 0.5em;
background: #FE002E;
color: #FEF632;
font-size: 1.9em;
line-height: 1.2em;
text-align: left;
font-weight:bold;
border: 4px solid #FFFFFF;
border-collapse: collapse;

}





table.border{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}

table.border td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
border: 1px solid black;
padding: 0.5em;
}

table.border-red{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}

table.border-red td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:justify;
border: 1px solid black;
border-color: #FE002E;
padding: 0.5em;
}


table.outline{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}

table.outline td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:justify;
padding: 0.5em;
}

table.gr{
background-color: #B9BBBD;
}


td.center{
text-align:center!important;
}


td.btm{
vertical-align:middle;
border-bottom: 1px solid black;
}


td.cc{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0.5em;
margin-right: 0.5em;
text-align: center!important;
}

td.vc{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0.5em;
margin-right: 0.5em;
text-align: center!important;
vertical-align: middle!important;
}

td.vcc{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0.5em;
margin-right: 0.5em;
text-align: left!important;
vertical-align: middle!important;
}


td.bt{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0.5em;
margin-right: 0.5em;
text-align: left!important;
vertical-align: bottom!important;
}



td.yl{
background-color: #FAE498;
}

table.no-border{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
}

table.no-border td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
padding: 0.5em;
}



table.no-border01{
margin-top: 0.25em;
margin-bottom: 0.25em;
margin-left: 0em;
margin-right: 0em;
width: auto;
}

table.no-border01 td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
padding: 0.5em;
}


table.border-y{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
font-size: 90%;
border: 2px solid #A27858;
border-collapse: collapse;
background-color:#FFFFFF;
}

table.border-y td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #A27858;
padding: 0.5em;
}




table.border-yy{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
font-size: 90%;
border: 2px solid #CA734E;
border-collapse: collapse;
background-color:#FFF3D9;
}

table.border-yy td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #CA734E;
padding: 0.5em;
}

table.border-yy th{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #CA734E;
background-color:#FFDB9D;
padding: 0.5em;
font-weight:normal;
}



table.border-ry{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
font-size: 90%;
border: 2px solid #E84856;
border-collapse: collapse;
background-color:#FFF3D9;
}

table.border-ry td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #D56F2F;
padding: 0.5em;
}


table.border-r{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
font-size: 90%;
border: 2px solid #D7304C;
border-collapse: collapse;
background-color:#FFFFFF;
}

table.border-r td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #D7304C;
padding: 0.5em;
}



table.border-rb{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
font-size: 90%;
border: 2px solid #D7304C;
border-collapse: collapse;
background-color:inherit;
}

table.border-rb td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #D7304C;
padding: 0.5em;
}



table.border-pnkb{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
font-size: 90%;
border: 2px solid #E82686;
border-collapse: collapse;
background-color:inherit;
}

table.border-pnkb td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:left;
vertical-align: top;
border: 2px solid #E82686;
padding: 0.5em;
}



h1.bm-label{
margin-top: 3em;
margin-bottom: 0.2em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.2em;
}

h1.bm-title{
margin-top: 0em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.1em;
}

/********************************/
/************* LISTS ************/
/********************************/

ol.arabic{
margin-top: 0.25em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
}

ol.arabic li{
margin-top: 0.25em;
margin-bottom: 0em;
margin-left: -1.2em;
margin-right: 0em;
text-align:justify;
}

ol.arabic01{
margin-top: 1em;
margin-bottom: 0.4em;
margin-left: 0em;
margin-right: 0em;
}

ol.arabic01 li{
margin-top: 0.4em;
margin-bottom: 0em;
margin-left: -1.2em;
margin-right: 0em;
text-align:justify;
font-weight: bold;
}

span.norm{
font-weight: normal;
}


ol.arabic-l{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
}

ol.arabic-l li{
margin-top: 0.2em;
margin-bottom: 0em;
margin-left: -1em;
margin-right: 0em;
text-align:left;
}


ol.none{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
list-style-type: none;
}

ol.none li{
margin-top: 0.4em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
}

ol.arabic-b{
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
}

ol.arabic-b li{
margin-top: 0.4em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
font-weight:bold;
}



ul.bull{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: 0em;
margin-right: 0em;
list-style-type:disc;
}

ul.bull li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: -1em;
margin-right: 0em;
text-align:justify;
}


ul.bull01{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: -1em;
margin-right: 0em;
list-style-type:disc;
}

ul.bull01 li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
}


ul.bull02{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: -1em;
margin-right: 0em;
list-style-type:disc;
}

ul.bull02 li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 1.5em;
margin-right: 0em;
text-align:justify;
}


ul.bull03{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: -1em;
margin-right: 0em;
list-style-type:disc;
}

ul.bull03 li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 3em;
margin-right: 0em;
text-align:justify;
}



ul.bull-l{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: 0em;
margin-right: 0em;
list-style-type:disc;
}

ul.bull-l li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: -1em;
margin-right: 0em;
text-align:left;
}


ul.arrow{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: 0em;
margin-right: 0em;
}

ul.arrow li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
}

ul.check{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: 0em;
margin-right: 0em;
}

ul.check li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
}




ul.dash{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: -2em;
margin-right: 0em;
list-style-type:none;
}

ul.dash li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0.8em;
margin-right: 0em;
text-indent: -0.8em;
text-align:left;
}



ol.lower-alpha{
margin-top: 0.20em;
margin-bottom: 0.20em;
margin-left: 0em;
margin-right: 0em;
list-style-type:lower-alpha;
}

ol.lower-alpha li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
list-style-type:lower-alpha;
color: #EB288C;
}


h2.section{
margin-top: 0.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: normal;
font-size: 1.3em;
color: #D40089;
}


h2.section01{
margin-top: 1.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.3em;
}


h2.section-pr{
margin-top: 1.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.3em;
color:#D53768;
}

h2.sect{
margin-top: 1.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.3em;
color:#393484;
}

span.bg-p{
color: #FFFFFF;
background-color: #02AFF2;
padding: 10px;
}


p.act{
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
font-size: 1.2em;
padding: 0.25em;
font-weight: bold;
color: #DF007A;
}

.mid{
vertical-align: middle!important;
}

p.box-title{
margin-top: 0em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.2em;
color: #ED1C24;
font-style: italic;
}

div.activity{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
padding:8px;
border: 3px solid #A4A7A9;
border-radius: 0.6em;
}


p.caption{
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align: center;
font-size:0.8em;
font-style: italic;
}


td.head{
font-weight: bold;
}

td.head01{
background-color: #D8F2FC;
font-weight: normal;
}

td.head-c{
background-color: #FED1B0;
font-weight: bold;
text-align: center!important;
}

td.body{
background-color: #FFFBCC;
}

p.hang{
margin-top: 0.2em;
margin-bottom: 0em;
margin-left: 1.2em;
text-indent: 0em;
margin-right: 0em;
text-align: justify;
text-indent: -1.2em;
}


p.list{
margin-top: 0.5em;
margin-bottom: 0em;
margin-left: 1.8em;
margin-right: 0em;
text-indent: -1.8em;
}

p.list01{
margin-top: 0.5em;
margin-bottom: 0.1em;
margin-left: 2em;
margin-right: 0em;
text-align: justify;
text-indent: -2em;
}


p.list02{
margin-top: 0em;
margin-bottom: 0.1em;
margin-left: 4.5em;
margin-right: 0em;
text-align: justify;
text-indent: -2.5em;
}


p.list-r{
margin-top: 0em;
margin-bottom: 0.1em;
margin-left: 2em;
margin-right: 0em;
text-align: justify;
text-indent: -2.2em;
}




p.center{
margin-top: 0.8em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-align: center;
}


td{
vertical-align:top;
}


td ul{
text-align:left!important;
}


ol ul.bull{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: -1.2em;
margin-right: 0em;
list-style-type:disc;
}


table ul.bull{
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-left: -1.2em;
margin-right: 0em;
list-style-type:disc;
}


ol.notlist{
list-style-type:none;
}


ol.notlist ol{
list-style-type:none;
}

span.lable{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size: 0.8em;
}


table td.rt{
text-align:right!important;
}


table ol{
text-align: left!important;
}

table ul{
text-align: left!important;
}


p.less{
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
font-weight:bold;
font-style:italic;
color: #DF007A;
font-size: 1.2em;
border-bottom: 4px double;
width: 20%;
}

.minus{
margin-left: -1.2em;
}

span.u{
text-decoration: underline;
}

span.red{
color: #FF0000;
}

span.skbl{
color: #00A8EA;
}

.skbg{
background-color: #D8F2FC;
}

.pinbg{
background-color: #FEDCE9;
}

p.right-f{
margin-top: -1.2em;
margin-bottom: 1em;
margin-left: 0em;
margin-right: 0em;
float: right;
}


span.pur{
color: #DE145D;
}

span.pin{
color: #FE0088;
}

.box{
border: 1px solid;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 6px;
padding-right: 6px;
}

.big{
font-size: 1.3em;
}

.big1{
font-size: 3.3em;
line-height: 1.2em;
}

span.toc{
color:#00AEEF;
}