/*begin radio button design ------------------------------------*/
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + .choice-img {
    cursor: pointer;
    border: 5px solid white;
    position: relative;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + .choice-img {
    border: 5px solid #0c0c0c;
    border-radius: 5px;
  }

   img{

    height:100px;
  }

  .answer-image{
      width:100%;
      z-index: 100;
      left:0;
  }

  .choice-img .answer-image{
    display: none;
    position: absolute;
  }
  
  .eval-answer-true .answer-image{
    display: inline;
  }

  .eval-answer-false .answer-image{
    display: inline;
  }

  [type=radio]:checked + .eval-answer-true{
    border-color:green;
    box-shadow: 0 0 10px green;
  }

  [type=radio]:checked + .eval-answer-false{
    border-color:red;
    box-shadow: 0 0 10px red;
  }